@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");
.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background: #7aadb8;
  background: linear-gradient(225deg, #bdd6db 0%, #7aadb8 100%); }
  @media only screen and (min-width: 1200px) {
    .login-container {
      position: relative;
      top: 15%;
      min-height: 70%;
      max-height: 70%;
      width: 40%;
      min-width: 400px;
      margin: 0 auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background: #7aadb8; } }
  .login-container .welcome-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 20px;
    text-align: center; }
    .login-container .welcome-banner h1 {
      font-size: 3em;
      font-weight: 400;
      color: #fcfcfc;
      text-shadow: 1px 1px 5px #7aadb8; }
    .login-container .welcome-banner h2 {
      display: block;
      width: 80%;
      margin: 0 auto;
      color: #fcfcfc;
      font-size: 1.1em;
      font-weight: 400;
      text-shadow: 1px 1px 2px #7aadb8; }
  .login-container .form-area {
    height: 50%; }
    .login-container .form-area .login-form {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 90%;
      height: 80%;
      margin: 0 auto;
      padding: 10px 20px 2em 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background: white; }
      @media only screen and (min-width: 1200px) {
        .login-container .form-area .login-form {
          width: 120%;
          right: 10%;
          border-radius: 20px; } }
      .login-container .form-area .login-form .input-container {
        height: calc(100% / 2); }
      .login-container .form-area .login-form label {
        display: block;
        position: relative;
        bottom: -40%;
        height: 20%;
        color: #666666;
        pointer-events: none;
        transition: bottom 0.3s, font-size 0.3s; }
      .login-container .form-area .login-form .focussedLabel {
        bottom: 0;
        font-size: 0.75rem; }
      .login-container .form-area .login-form input {
        display: block;
        height: 60%;
        width: 100%;
        border-bottom: 1px dotted #e6e6e6;
        padding-left: 5px;
        margin: auto 0; }
      .login-container .form-area .login-form input:focus {
        outline: none; }
    .login-container .form-area .submit-proxy-button {
      display: block;
      position: relative;
      top: calc(0em - 1em);
      width: 70%;
      margin: 0 auto;
      height: 2em;
      border-radius: 1em;
      background: #477a85;
      transition: background 0.1s ease-out;
      color: white;
      font-size: 1.4rem;
      line-height: 2em;
      text-align: center; }
    .login-container .form-area .submit-proxy-button:hover {
      background: #365c63; }
    .login-container .form-area .error-styling:hover {
      background: #b53434; }
    .login-container .form-area .error-styling {
      background: #ff4e4e;
      color: white;
      width: 120%;
      max-width: 120%;
      right: 10%; }
    .login-container .form-area #error-box {
      position: relative;
      top: -15%;
      height: 2em;
      background: #9f6060; }
