@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");
.signup-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background: #7aadb8;
  background: linear-gradient(225deg, #bdd6db 0%, #7aadb8 100%); }
  @media only screen and (min-width: 1200px) {
    .signup-container {
      position: relative;
      top: 15%;
      min-height: 70%;
      max-height: 70%;
      width: 40%;
      min-width: 400px;
      margin: 0 auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background: #7aadb8; } }
  .signup-container .welcome-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding: 20px;
    text-align: center; }
    .signup-container .welcome-banner h1 {
      font-size: 3em;
      font-weight: 400;
      color: #fcfcfc;
      text-shadow: 1px 1px 5px #7aadb8; }
    .signup-container .welcome-banner h2 {
      display: block;
      width: 80%;
      margin: 0 auto;
      color: #fcfcfc;
      font-size: 1.1em;
      font-weight: 400;
      text-shadow: 1px 1px 2px #7aadb8; }
  .signup-container .form-area {
    flex: 1 1 auto; }
    @media only screen and (min-width: 1200px) {
      .signup-container .form-area {
        margin-top: 15%; } }
    .signup-container .form-area .signup-form {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 90%;
      margin: 0 auto;
      padding: 0 20px 3em 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background: white; }
      @media only screen and (min-width: 1200px) {
        .signup-container .form-area .signup-form {
          top: -15%;
          width: 120%;
          right: 10%;
          border-radius: 20px; } }
      .signup-container .form-area .signup-form label {
        display: block;
        position: relative;
        bottom: -1.5em;
        min-height: 20px;
        margin-top: 10px;
        color: #666666;
        pointer-events: none;
        transition: bottom 0.3s, font-size 0.3s; }
      .signup-container .form-area .signup-form .focussedLabel {
        font-size: 0.75rem;
        bottom: 0; }
      .signup-container .form-area .signup-form input {
        border-bottom: 1px dotted #e6e6e6;
        height: 2em; }
    .signup-container .form-area .submit-proxy-button {
      display: block;
      position: relative;
      top: calc(0em - 1em);
      width: 70%;
      margin: 0 auto;
      height: 2em;
      border-radius: 1em;
      background: #477a85;
      transition: background 0.1s ease-out;
      color: white;
      font-size: 1.4rem;
      line-height: 2em;
      text-align: center; }
      @media only screen and (min-width: 1200px) {
        .signup-container .form-area .submit-proxy-button {
          top: calc(0em - 1em - 15%); } }
    .signup-container .form-area .submit-proxy-button:hover {
      background: #365c63; }
    .signup-container .form-area .error-styling {
      background-color: red;
      width: 120%;
      max-width: 120%;
      right: 10%; }
