@import './variables.scss';


* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: $near-black;
}
#root {
  width: 100%
}



header{
  width: 100%;
  height: 1em;
  margin-bottom: 0.4em;
  background: $primary;

  @media only screen and (min-width: $breakpoint-pc) {
    font-size: 5vh;
  }

  .logo {
    position: relative;
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 800;
    font-size: 1em;
    text-shadow: 0.075em 0.075em hsla(190, 30%, 20%, 1);
    color: $white;
    text-decoration: none;
  }

  nav {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .nav-item, .nav-button {
      margin-right: 10px;
      color: $near-white;
      text-decoration: none;
    }
    .nav-button {
      padding: 5px;
      border-radius: 5px;
      background: $primary;
      transition: background-color 0.1s;
    }
    .nav-button:hover {
      background: $primary-light;
    }

    @media only screen and (min-width: $breakpoint-pc) {
        height: 5vh;
    }
  }
}

main {
  width: 90%;
  margin: 0 auto;

  @media only screen and (min-width: $breakpoint-pc) {
    width: 50%;
  }

  .float-right {
    float: right;
  }
  .completed-todo {
    color: hsla(360, 0%, 75%, 1);
    text-decoration: line-through;
  }

}
