@import './variables.scss';

.login-container {
  display: flex;
  flex-direction: column;
	height: 100%;
  min-height: 100%;
  background: $primary-light;
  background: linear-gradient(225deg, $primary-lightest 0%, $primary-light 100%);


  .welcome-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;

    text-align: center;

    h1 {
      font-size: 2em;
      font-weight: 300;
      color: $near-white;
      text-shadow: 1px 1px 5px $primary-light;
    }
    h2 {
      display: block;
      width: 70%;
      margin: 0 auto;
      color: $near-white;
      font-weight: 400;
    }
  }

  .form-area {
    flex: 1;

    .login-form {
      display: flex;
      flex-direction: column;
      position: relative;
      top: -15%; // See below on submit-proxy-button
      width: 90%;
      margin: 0 auto;
      padding: 0 20px 3em 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px $box-shadow;
      background: $white;

      label {
        display: block;
        position: relative;
        bottom: -1.5em;
        min-height: 20px;
        margin-top: 10px;
        color: $grey1;
        pointer-events:none;
        transition: bottom 0.3s, font-size 0.3s;
      }
      .focussedLabel {
        font-size: 0.75rem;
        bottom: 0;
      }
      input {
        border-bottom: 1px dotted $grey4;
        height: 2em;
      }
    }

    .submit-proxy-button {
      display: block;
      position: relative;
      top: calc(0em - 1em - 15%); // Submit button intersect form at half its height
      width: 70%;
      margin: 0 auto;
      height: 2em;
      border-radius: 1em;
      background: $primary;
      color: $white;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2em;
      text-align: center;
    }
  }
}
