@import './variables.scss';

.signup-container {
  display: flex;
  flex-direction: column;
	height: 100%;
  min-height: 100%;
  background: $primary-light;
  background: linear-gradient(225deg, $primary-lightest 0%, $primary-light 100%);
  @media only screen and (min-width: $breakpoint-pc) {
    position: relative; // Vertically center container
    top: 15%;// Vertically center container
    min-height: 70%;
    max-height: 70%;
    width: 40%;
    min-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px $box-shadow;
    background: $primary-light;
  }

  .welcome-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 20px;
    text-align: center;

    h1 {
      font-size: 3em;
      font-weight: 400;
      color: $near-white;
      text-shadow: 1px 1px 5px $primary-light;
    }
    h2 {
      display: block;
      width: 80%;
      margin: 0 auto;
      color: $near-white;
      font-size: 1.1em;
      font-weight: 400;
      text-shadow: 1px 1px 2px $primary-light;
    }
  }









  .form-area {
    height: 50%;

    .signup-form {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 90%;
      height: 80%;
      margin: 0 auto;
      padding: 10px 20px 2em 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px $box-shadow;
      background: $white;
      @media only screen and (min-width: $breakpoint-pc) {
        width: 120%;
        right: 10%;
        border-radius: 20px;
      }

      #form-container {
        height: 100%;
        width: 100%;

        .input-container {
          height: calc(100% / 3); // Divide 100% by number of containers that will be in the form
          label {
            display: block;
            position: relative;
            bottom: -40%;
            height: 20%;
            color: $grey1;
            pointer-events:none;
            transition: bottom 0.3s, font-size 0.3s;
          }
          .focussedLabel {
            bottom: 0;
            font-size: 0.75em;
          }
          input {
            display: block;
            height: 60%;
            width: 100%;
            border-bottom: 1px dotted $grey4;
            padding-left: 5px;
            margin: auto 0;
          }
          input:focus {
             outline: none;
          }
        }

        #error-box {
          display: none;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 20px;
          top: 20px;
          width: 45%;
          height: calc(100% - 60px);
          padding: 10px;
          border-radius: 10px;
          background: hsla(0, 100%, 98%, 1);
          div {
            padding: 10px;
          }
        }
        #error-box.visible {
          display: flex;
        }
      }
      #form-container.shrink-width {
        width: 45%;
      }
    }








    .submit-proxy-button {
      display: block;
      position: relative;
      top: calc(0em - 1em); // Submit button intersect form at half its height
      width: 70%;
      margin: 0 auto;
      height: 2em;
      border-radius: 1em;
      background: $primary;
      transition: background 0.1s ease-out;
      color: $white;
      font-size: 1.4rem;
      line-height: 2em;
      text-align: center;
    }
    .submit-proxy-button:hover {
      background: $primary-dark
    }
    .error-styling:hover {
      background: #b53434;
    }
    .error-styling {
      background: #ff4e4e;
      color: $white;
    }
  }
}
