@import './variables';

.todo-container {
  padding-top: 10px;

  .todo-item {
    border-bottom: 1px solid $grey4;
    padding: 10px;
    input {
      vertical-align: middle;
      margin-right: 10px;
    }
    .remove-todo {
      padding: 5px;
      margin-top: -5px;
      background: $white;
      color: $grey2;
    }
    .remove-todo:hover {
      color: $grey1;
      background: darken($secondary, 10%);
    }
  }

  div:nth-child(2n) {
    background: $secondary;
    .remove-todo {
      background: $secondary;
    }
    .remove-todo:hover {
      background: darken($secondary, 10%);
    }
  }
}

//==============================================================================
.new-todo-form {
  height: 3em;
  padding: 10px;

  form {
    height: 100%;
    display: flex;
  }
  label {
    flex-grow: 1;
  }
  input {
    height: 100%;
    width: 100%;
    border-bottom: 1px dashed $grey3;
    padding-left: 5px;
    line-height: 100%;
  }
  button {
    padding: 0 10px;
    margin-left: 10px;
    background: $primary-light;
    color: $white;
  }

  [placeholder]:focus::placeholder {
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  [placeholder]::placeholder {
    color: $grey3;
  }
}
